# ============================
# Backend
# ============================
APP_ENV=production
APP_HOST=0.0.0.0
APP_PORT=8000
BACKEND_EXPOSE_PORT=8000
LOG_LEVEL=info

# ============================
# MongoDB (root)
# ============================
MONGO_ROOT_USERNAME=newsradar_root
MONGO_ROOT_PASSWORD=change_me_root_pwd
MONGO_INITDB_DATABASE=admin

# ============================
# MongoDB (app)
# ============================
MONGO_APP_USER=newsradar_app
MONGO_APP_PASSWORD=change_me_app_pwd
MONGO_APP_DB=newsradar
MONGO_EXPOSE_PORT=27017

# ============================
# Frontend React (opcional)
# ============================
FRONTEND_NODE_ENV=development
FRONTEND_PORT=5173
FRONTEND_EXPOSE_PORT=5173
VITE_API_BASE_URL=http://localhost:8000

# ============================
# Elasticsearch + Kibana
# ============================
ELASTIC_VERSION=9.3.2
KIBANA_VERSION=9.3.2
ELASTIC_SECURITY_ENABLED=false
ELASTIC_ES_JAVA_OPTS=-Xms512m -Xmx512m
ELASTIC_EXPOSE_PORT=9200
KIBANA_EXPOSE_PORT=5601
ELASTICSEARCH_URL=http://elasticsearch:9200
ELASTICSEARCH_INDEX_ENTRADAS=rss_entradas_idx
ELASTICSEARCH_INDEX_FUENTES=rss_fuentes_idx
RSS_WORKER_INTERVAL_SECONDS=300
RSS_WORKER_RUN_ONCE=false

# ============================
# Email Service (Gmail)
# ============================
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=newsradar.uc3m.gr5@gmail.com                
SMTP_PASSWORD=mwliwwhxoioebhte
MAIL_FROM=newsradar.uc3m.gr5@gmail.com
